@model Products.Models.Product

@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/_Layout.cshtml";
}

@{
    string heading;
}

@if (Model.Id == 0)
{
    heading = "Add Product";
}
else {
    heading = "Edit Product";
}

<h2>@heading</h2>
@using (Html.BeginForm("Save", "Products")) {
	<div class="form-group">
		@Html.LabelFor(m => m.Type)
		@Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Type)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Cost)
		@Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Cost)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Price)
		@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Price)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Quantity)
		@Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Quantity)
	</div>
	@Html.HiddenFor(m => m.Id)
	@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-primary">Save</button>
}
@if (Model.Id != 0) {
    <hr />
	<div>@Html.ActionLink("Delete", "Delete", "Products", new { id = Model.Id }, new { @class = "btn btn-danger" })</div>
}